body,html{
    height:100%;
}

.blackicon {
    color:black;
	display:inline-block;
    padding:10px;
}

.blackicon:hover, .blackicon:active
{
	opacity: 0.6;
} 

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}